/* frontend/src/components/Header.css */
.app-header-main {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.app-header a {
  color: var(--secondary-text-color);
  text-decoration: none;
  margin: 0 0.5rem;
}